.cardContainer {
    display: flex; /* Используйте flexbox для горизонтального расположения */
    flex-wrap: wrap; /* Позволяет элементам оборачиваться при нехватке места */
    justify-content: flex-start; /* Выравнивание по левому краю */
    margin: 0 -0.5rem; /* Отступы для родительского контейнера */
}

.card {
    display: flex; /* Флекс-контейнер для карточки */
    flex-direction: column; /* Вертикальное расположение элементов внутри карточки */
    justify-content: space-between; /* Распределение пространства между элементами */
   
}
.btnAdd{
    margin-left: 43%;

}